.header {
    grid-area: h;
    background-color: #d5eec0;
    border: 1px solid silver;
}

.header img {
    width: 50px;
    margin-left: 1%;
    margin-top: 1%;
    max-width: 100%;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: black;
}