.app-wrapper {
  display: grid;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 10fr;
  margin: 1em 1em 1em 1em;

}

.app-wrapper-content {
  grid-area: c;
  background-color: #fff8dd;
  text-align: center;
  margin-top: 1em;
  margin-left: 1em;
  border: 1px solid silver;
}





